@use "../util/" as *;
@use "../globals/" as *;

.main {
	width: 100%;
	min-height: 100vh;
	padding-top: 15rem;
	padding-bottom: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;

	&__greeting {
		color: var(--secondary-white);
		font-size: clamp(15px, 5vw, 16px);
		font-weight: 400;
	}

	&__title {
		position: relative;
		font-weight: 900;
		font-size: clamp(39px, 8vw, 85px);
		@include gradientText();
	}

	&__subtitle {
		color: var(--main-white);
		font-size: clamp(18px, 5vw, 20px);
		font-weight: 600;
	}

	&__extract {
		max-width: 60rem;
		color: var(--secondary-white);
		font-size: 1.5rem;
	}

	&__buttons {
		display: flex;
		margin-top: 3rem;
		gap: 4rem;
		font-size: 15px;
		font-weight: 600;
		z-index: 5;

		@include breakpointIndividual("500px") {
			flex-direction: column;
			gap: 2.5rem;
		}

		.contact-btn {
			width: 100%;
			max-width: 20rem;
			height: 5.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--main-white);
			background: var(--dark-gradient);
			transition: all 0.25s ease-in;

			&:hover {
				transition: all 0.25s ease-in;
				transform: scale(1.04);
				@include setBoxShadow();
			}

			@include breakpointIndividual("500px") {
				max-width: 100%;
			}
		}

		.discover-me {
			width: 100%;
			max-width: 20rem;
			height: 5.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			color: var(--main-white);
			transition: all 0.25s ease-in;

			@include gradientBorders();

			&:hover {
				transition: all 0.25s ease-in;
				transform: scale(1.04);
				@include setBoxShadow();
			}

			@include breakpointIndividual("500px") {
				max-width: 100%;
			}

			#ArrowOne {
				animation: arrowAnimate 2s infinite;
				animation-delay: 0.2s;
			}

			#ArrowTwo {
				animation: arrowAnimate 2s infinite;
				animation-delay: 0.4s;
			}

			&__text {
				color: var(--main-white);
			}
		}
	}
}
